*{
    padding:0;
    margin:0;
}
#taskbar{
    font-family: sans-serif;
    background-color: rgb(253, 238, 190);
    position:sticky;
    top:0
}
.items{
    text-decoration: none;
    color: black;
}
#taskbar ul li{
    display:inline-block;
    width:100%;
    text-align:center;
    padding:7px;
    transition:all 1s;
}
#btns{
    margin-right: 15px;
}
#taskbar ul li:hover{
    background-color:rgb(245, 162, 61);
    border-radius: 30px;
}
#taskbar ul{
    display:flex;
    justify-content: space-between;
    position:sticky;
}
#taskbar ul input[type="text"]{
    border:none;
    padding:7px;
    border-radius:100px;
    margin:10px;
    margin-right:0px;
    width:300px;
}
#search button{
    cursor:pointer;
    width:auto;
    height:28px;
    padding:5px;
    border-radius:100px;
    background-color:rgb(245, 162, 61) ;
    color:rgb(255, 255, 255);
    border:none;
}
#content{
    font-size: 20px;
    color: rgb(73, 162, 192);
    text-align: center;
    margin-top: 30px;
}
#content p{
    width: 52%;
    margin-left: 25%;
    margin-right: 25%;
}
#content h1{
    color:rgb(7, 93, 168)
}
#infor{
    display: inline-block;
}
#fbcover{
    display: inline-block;
}
#fbcover p{
    display: inline-block;
}
#footer{
    display:flex;
    justify-content:space-between;
    padding:3%;
    background-color: rgb(213, 230, 244);
}
#feedback{
    display: block;
    width:400px;
    height:100px;
    margin: 7px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}
#efeedback{
    display:inline-block;
}
.in4 p{
    display:inline-block;
    margin:4px;
    margin-bottom: 6px;
}
.in4{
    display:block;
    margin:2px;
}
hr{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:3%;
    margin-right:3%
}
#fbcover button{
    background-color: rgb(136, 199, 255);
    padding:3px;
    border-radius:7px;
    border-color: rgb(0, 136, 255);
}
#fbk{
    border-style: solid;
    border-width: 1.5px;
    border-color:rgb(0, 0, 0);
    border-radius: 5px;
    padding:2px;
    background-color: rgb(20, 144, 252);
    color: aliceblue;
    margin-right:5px;
}
#wrong{
    display: none;
    color:red;
    font-size: 15px;
    margin:3px
}